{{> head}}

<body>
  <div class="uk-grid">
    <div class="uk-width-2-3@l uk-align-center uk-margin-remove-bottom">
      {{> navbar}}
      {{> carousel}}
      {{{body}}}
      {{> footer}}
      {{> modal}}
    </div>
  </div>
</body>

</html>