<div class="container">
  <div class="uk-card uk-card-default uk-card-body">
    <div class="uk-text-center uk-text-large uk-text-uppercase">Для просмотра состава команды<br />необходимо авторизоваться или зарегистритоваться.</div>
    <img class="uk-align-center" data-src="./img/complete.png" width="300" height="300" alt="Набор закончен" uk-img>
  </div>
</div>
<script type="text/javascript">
  setTimeout(() => {
    location = '/statement';
  }, 5000);
</script>